.sort-header {
    display        : flex;
    justify-content: space-between;

    i {
        cursor : pointer;
        padding: 0 2px;
    }
}

input {
    width: 100%;
}

.add-new {
    .group-btns {
        display: flex;
        gap    : 8px
    }
}

.customize-table {
    width     : inherit;
    overflow-x: auto;
}

.pagination {
    justify-self: center;
}